[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-react = "*"
flask-jwt-auth = "*"
flask-rest = "*"

[dev-packages]

[requires]
python_version = "3.8"
